.container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}
.header{
    background: rgb(189, 36, 197);
    color: antiquewhite;
    padding: 0.2rem;
    font-size: 2rem;
    
    font-weight: lighter;
}
.header-heading,.header-text{
    display: inline;
    margin: 1rem;
}
.footer{
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    padding: 0.8rem;
    text-align: center;

}
.main{
    flex: 1;
    background: rgb(255, 161, 53);
    width: 90%;
    margin: 1rem auto;
}
.notification{
    background: rgb(22, 210, 5);
    padding: 1rem;
    color: aliceblue;
    font-weight: bold;
}
.button{
    border: none;
    outline: none;
    background: rgb(93, 93, 93);
    color: wheat;
    padding: 1rem;
    margin: 0.5rem;
}
.button:hover{
    cursor: pointer;
    opacity: 0.8;
}

.posts{
    margin: 1rem;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.post{
    background: rgb(201, 202, 202);
    padding: 1rem;
    margin: 0.5rem;

}

.post-title{
    font-weight: bold;
}

